MONGO_URI=mongodb://localhost:27017/trademe
TEST_MONGO_URI=mongodb://localhost:27017/trademe_test_db

AZURE_OPENAI_ENDPOINT=your_openai_endpoint
AZURE_OPENAI_API_KEY=your_openai_key
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-3-small